main{
    color:#7589A2;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
}
li{
    border: 1px solid #E0E4E8;
    border-radius: 6px 6px 0px 0px;
    padding: 1rem ;
    width: 100%;
    text-align: center;
    position: relative;
}
.top{
    border-radius: 6px 6px 0px 0px;
}
.bottom{
     border-radius: 0px 0px 6px 6px;
}
main img{
    position: absolute;
}
