@import url("token.css");

/* import your *.css file above this line */

body {
  margin: 0;
  padding: 0;
}

header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 59px; /* on pages headline + label = 81px */
  background-image: url("images/header-bg-1.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  color: var(--clr-text);
}

header div {
  color: var(--clr-text);
  text-align: center;
}

footer nav {
  position: absolute;
  display: flex;
  min-width: fit-content;
  bottom: 20px;
  left: 20px;
  right: 20px;
  height: 44px;
}

footer nav a {
  display: flex;
  padding: 0.5rem;
  margin: 0.1rem;
  justify-content: center;
  flex-grow: 1;
}
